<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86873906490-qg8645f3n8t6a3trjpadmto5bbfdc3el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86873906490-qg8645f3n8t6a3trjpadmto5bbfdc3el</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>86873906490-595cokblsotig7p59ka307stdks8ngnf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCb7_TiQZbW6PaPq9AXdjMws6QVpC0tPPI</string>
	<key>GCM_SENDER_ID</key>
	<string>86873906490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chasseInfos</string>
	<key>PROJECT_ID</key>
	<string>chasse-infos</string>
	<key>STORAGE_BUCKET</key>
	<string>chasse-infos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86873906490:ios:8ced5cc1934c14806ec403</string>
</dict>
</plist>